<div class="contentsWrap">
    <div class="container01">
        <div class="web_container">
            <!-- header -->
            <div class="pop_header">
                <h1>{{'RegiCateAdd.Label.Tittle' | translate}}</h1>
                <button type="button" tabindex=-1 class="btn_popclose" (click)="close()"><span>close</span></button>
            </div>
            <!-- //header -->
            <div class="web_Wrap">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>{{'RegiCateAdd.Label.Name' | translate}}</label>
                        <kendo-dropdownlist [data]="cagetList" [filterable]="true" [textField]="'name'" [valueField]="'id'" [kendoDropDownFilter]="filterSettings" [popupSettings]="{ popupClass: 'search_filter_pop' }" [(ngModel)]="categoryModel" [ngModelOptions]="{standalone:
                            true}" [defaultItem]="defaultCountry">
                                <ng-template kendoDropDownListValueTemplate let-dataItem>
                                    <span class="template">{{ dataItem.name}}</span>
                                </ng-template>
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                    <span class="template">{{ dataItem.name}}</span>
                                </ng-template>
                            </kendo-dropdownlist>

                    </div>
                    <div class="form-group col-md-6">
                        <label>{{'RegiCateAdd.Label.Name' | translate}}</label>
                        <input type="text" [ngClass]="product_name? 'active-input' : ''" class="form-control" [(ngModel)]="product_name" placeholder="{{'RegiCateAdd.Holder.Enter_Category_Name' | translate}}">

                        <div class="in_box">
                            <button type="button" [ngClass]="product_name? 'btn_del' : ''" (click)="onClickBtnMainCategoryName()" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                        </div>

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group form-group-last col-md-12">
                        <label>{{'RegiCate.LABEL.Description' | translate}}</label>
                        <input type="text" [ngClass]="description? 'active-input' : ''" [(ngModel)]="description" placeholder="{{'RegiCateAdd.Holder.Enter_Description' | translate}}" class="form-control">
                        <div class="in_box">
                            <button type="button" [ngClass]="description? 'btn_del' : ''" (click)="onClickBtndescription()" tabindex=-1 class="btn" tabindex=-1 tabindex=-1><span>Delete text</span></button>
                        </div>

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group form-group-last col-md-12">
                        <label>{{'RegiCate.LABEL.Description' | translate}}</label>
                        
                        <kendo-fileselect
                        [restrictions]="fileRestrictions"
                        [multiple] = "false"
                        (select)="selectEventHandler($event)"
                                #myFileSelect="kendoFileSelect">
                                <ng-template kendoFileSelectFileTemplate let-files let-state="state">
                                    <div>Name: {{files[0].name}} Size: {{files[0].size}} bytes</div>
                                    <button class="k-button"  style="position: absolute; right: 6.2em;" *ngIf="showButton(state)"  kendoButton (click)="remove(myFileSelect, files[0].uid)" [icon]="'x'" [look]="'outline'">Remove</button>

                                    <button class="k-button"  style="position: absolute; right: .2em;" *ngIf="showButton(state)"  kendoButton (click)="upload(files[0].uid);" [icon]="'upload'" [look]="'outline'">Upload</button>
                                </ng-template>
                        </kendo-fileselect>


                        <div *ngIf="imagePreviews.length" class="img-preview example-config">
                            <h3>Preview selected images</h3>
                            <img *ngFor="let image of imagePreviews"
                            [src]="image.src"
                            alt="image preview"
                            style="width: 200px; margin: 10px;" />
                        </div>

                    </div>
                </div>


            </div>

        </div>


        <div class="c_btn">
            <div class="add-close  btn-css margin-right-btn-clos" (click)="close()">
                <span>{{'COMMON.BUTTON.CLOSE' | translate}}</span>
            </div>
            <div class="iam-btn-container mbr_introContent" style="display: inline-block;">
                <button class="iam-button save" (click)="btnRegister()">{{'COMMON.BUTTON.SAVE' | translate}}</button>
            </div>
        </div>
    </div>
</div>