<div class="contentsWrap">
    <div class="container01">
        <div class="web_container">

            <div class="pop_header">
                <h1>{{'Home8100.LABEL.REGISTER_SUB_CATEGORY_INFORMATION' | translate}}</h1>
                <button type="button" tabindex=-1 class="btn_popclose" (click)="close()"><span>close</span></button>
            </div>

            <div class="web_Wrap">

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Category :</label>
                        <kendo-dropdownlist [data]="category_list" [filterable]="true" [textField]="'name'" [valueField]="'countryCode'" [kendoDropDownFilter]="filterSettings" [popupSettings]="{ popupClass: 'search_filter_pop' }" [(ngModel)]="categoryInfo" [ngModelOptions]="{standalone:
                            true}" [defaultItem]="defaultMainCategoryInfo" (valueChange)="valueChangeMainCategory($event)">
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                <span class="template">{{ dataItem.name | translate}}</span>
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                <span class="template">{{ dataItem.name | translate }}</span>
                            </ng-template>
                        </kendo-dropdownlist>
                        <!-- <kendo-dropdownlist [ngClass]="ngClassList" [data]="category_list" [textField]="'name'" [valueField]="'id'" [(ngModel)]="categoryInfo" [ngModelOptions]="{standalone: true}" [valuePrimitive]="valuePrimitiveMainCategory" [defaultItem]="defaultMainCategoryInfo"
                            (valueChange)="valueChangeMainCategory($event)"></kendo-dropdownlist> -->
                    </div>

                    <div class="form-group col-md-6">
                        <label>Product Name :</label>
                        <input type="text" [ngClass]="proName ? 'active-input': ''" [(ngModel)]="proName" placeholder="{{'Register5000.HOLDER.ENTER_PRODUCT_NAME' | translate}}" class="form-control">
                        <div class="in_box">
                            <button [ngClass]="proName ? 'btn_del':''" (click)="onClickBtnDescr()" type="button" tabindex=-1 class="btn" tabindex=-1 tabindex=-1><span>Delete text</span></button>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group form-group-last col-md-12">
                        <label>{{'Home2100.LABEL.DESCRIPTION' | translate}}</label>
                        <input type="text" [ngClass]="description ? 'active-input': ''" [(ngModel)]="description" placeholder="{{'Home2100.PLACE_HOLDER.ENTER_DESCRIPTION' | translate}}" class="form-control">
                        <div class="in_box">
                            <button [ngClass]="description ? 'btn_del':''" (click)="onClickBtnDescr()" type="button" tabindex=-1 class="btn" tabindex=-1 tabindex=-1><span>Delete text</span></button>
                        </div>

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group form-group-last col-md-10">
                        <label>{{'Home2100.LABEL.DESCRIPTION' | translate}}</label>
                        <kendo-upload class="uploadi-img" [autoUpload]="false" [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [restrictions]="uploadRestrictions" (select)="selectEventHandler($event)" (clear)="clearEventHandler($event)" (remove)="removeEventHandler($event)"
                            (complete)="completeEventHandler($event)" (upload)="uploadEventHandler($event)">
                        </kendo-upload>
                        <!-- <button type="button" tabindex="-1" class="btn04 rcen_btn" [disabled]="uploadbtn" id="upload" ><span>{{'HOM3200.LABEL.UPLOAD' | translate}}</span></button> Upload -->

                        <img *ngFor="let image of imagePreviews" [src]="image.src" alt="image preview" style="width: 200px; margin: 10px;" />
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group form-group-last col-md-10">
                        <input
                        type="file"
                        [multiple]="true"
                        class="upload__input"
                        (change)="uploadFiles($event)"
                    />
                        </div>
                </div>

            </div>

        </div>


        <div class="c_btn">
            <div class="add-close  btn-css margin-right-btn-clos" (click)="close()">
                <span>{{'COMMON.BUTTON.CLOSE' | translate}}</span>
            </div>
            <div class="iam-btn-container mbr_introContent" style="display: inline-block;">
                <button class="iam-button save" (click)="onClickRegister()">{{'COMMON.BUTTON.SAVE' | translate}}</button>
            </div>
        </div>
    </div>
</div>