.checkbox {
    width: 45px !important;
    height: 20px !important;
    -webkit-appearance: auto !important;
}
.padding-left-00{
    padding-left: 0px;
    padding-right: 0px;
}
.day{
    width: 165px;
    padding-left: 0px;
    float: left;
}
.month{
    width: 200px;
}

.year{
    width: 210px;
    padding-right: 0px;
}
.margin-bottom {
    margin-bottom: 0px;
}
.padding-0px{
    padding: 0px;
}
.in_box-t .btn_del-t {
    right: 6px;
    top: 5px;
}
.margin-0px{
    margin: 0px;
}