<div class="contentsWrap">
    <div class="container01">
        <div class="web_container">
            <!-- header -->
            <div class="pop_header">
                <h1>{{'Register1100.LABEL.TITLE' | translate}}</h1>
                <button type="button" tabindex=-1 class="btn_popclose" (click)="close()"><span>close</span></button>
            </div>
            <!-- //header -->
            <div class="web_Wrap">

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>{{'Register1100.LABEL.MAIN_CATEGORY_NAME' | translate}}</label>
                        <input type="text" [ngClass]="mainCategoryName? 'active-input' : ''" class="form-control" [(ngModel)]="mainCategoryName" placeholder="{{'Register1100.HOLDER.PLEASE_ENTER_SUPLIER_NAME' | translate}}">

                        <div class="in_box">
                            <button type="button" [ngClass]="mainCategoryName? 'btn_del' : ''" (click)="onClickBtnMainCategoryName()" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                        </div>

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group form-group-last col-md-12">
                        <label>{{'Home2100.LABEL.DESCRIPTION' | translate}}</label>
                        <input type="text" [ngClass]="description? 'active-input' : ''" [(ngModel)]="description" placeholder="{{'Home2100.PLACE_HOLDER.ENTER_DESCRIPTION' | translate}}" class="form-control">
                        <div class="in_box">
                            <button type="button" [ngClass]="description? 'btn_del' : ''" (click)="onClickBtndescription()" tabindex=-1 class="btn" tabindex=-1 tabindex=-1><span>Delete text</span></button>
                        </div>

                    </div>
                </div>

            </div>

        </div>


        <div class="c_btn">
            <div class="add-close  btn-css margin-right-btn-clos" (click)="close()">
                <span>{{'COMMON.BUTTON.CLOSE' | translate}}</span>
            </div>
            <div class="iam-btn-container mbr_introContent" style="display: inline-block;">
                <button class="iam-button save" (click)="btnRegister()">{{'COMMON.BUTTON.SAVE' | translate}}</button>
            </div>
        </div>
    </div>
</div>