<div class="contentsWrap" style="height: auto;">
    <div class="container01">
        <div class="web_container">
            <!-- header -->
            <div class="pop_header">
                <h1>{{'User1100.LABEL.Tittle' | translate}}</h1>
                <button type="button" tabindex=-1 class="btn_popclose" (click)="close()"><span>close</span></button>
            </div>
            <!-- //header -->
            <table class="table02">
                <colgroup>
                    <col style="width:16.666%;" span="6" />
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">{{'User1100.LABEL.User_Name' | translate}}</th>
                        <td colspan="5"><strong>{{userName}}</strong></td>
                    </tr>
                    <tr>
                        <th scope="row">{{'User1100.LABEL.Enable' | translate}}</th>
                        <td>
                            <input type="checkbox" [(ngModel)]="enabled" [checked]="enabled" disabled id="chk1" class="checkbox" />
                        </td>
                        <th scope="row">{{'User1100.LABEL.Account_Lock' | translate}}</th>
                        <td>
                            <input type="checkbox" data-md-icheck (ngModelChange)="test()" [(ngModel)]="accountLocked" [checked]="accountLocked" id="chk1" class="checkbox" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">{{'User1100.LABEL.Credentials_Expired' | translate}}</th>
                        <td>
                            <input type="checkbox" [(ngModel)]="credentialsExpired" [checked]="credentialsExpired" id="chk1" class="checkbox" />
                        </td>
                        <th scope="row">{{'User1100.LABEL.Account_Expired' | translate}}</th>
                        <td><input type="checkbox" [(ngModel)]="accountExpired" [checked]="accountExpired" id="chk1" class="checkbox" /></td>
                    </tr>

            </table>

        </div>
        <!-- footer -->
        <div class="c_btn">
            <div class="add-close  btn-css margin-right-btn-clos" (click)="close()">
                <span>{{'COMMON.BUTTON.CLOSE' | translate}}</span>
            </div>
            <div class="iam-btn-container mbr_introContent" style="display: inline-block;">
                <button class="iam-button save" (click)="save()">{{'COMMON.BUTTON.SAVE' | translate}}</button>
            </div>
        </div>

    </div>
</div>