<div class="contentsWrap">
    <div class="container01" style="margin-top: 35px;">
        <div class="web_container">
            <!-- header -->
            <div class="pop_header">
                <h1 class="defualt-font">{{'RegiVenAdd.Label.Tittle1' | translate}}</h1>
                <button type="button" tabindex=-1 class="btn_popclose" (click)="close()"><span>close</span></button>
            </div>
            <!-- //header -->
            <div class="web_Wrap" style="white-space: normal;">

                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="defualt-font" for="inputPassword4">{{'RegiVenAdd.Label.Name'| translate}} :</label>
                        <input type="text" [ngClass]="vendorModel.name? 'active-input' : ''" [(ngModel)]="vendorModel.name" placeholder="{{'RegiVenAdd.Holder.Please_Enter_Vendor_Name' | translate}}" class="form-control defualt-font">
                        <div class="in_box">
                            <button (click)="btnX('name')" [ngClass]="vendorModel.name ? 'btn_del' : ''" type="button" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="defualt-font">{{'RegiVenAdd.Label.Contact'| translate}} :</label>
                        <input type="text" (input)="inputContact($event)" [ngClass]="contact ? 'active-input' : ''" class="form-control defualt-font" [(ngModel)]="contact" placeholder="{{'RegiVenAdd.Holder.Please_Enter_Vendor_Contact' | translate}}">

                        <div class="in_box">
                            <button (click)="btnX('contact')" [ngClass]="contact ? 'btn_del' : ''" type="button" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="defualt-font">{{'RegiVenAdd.Label.Other_Contact'| translate}} :</label>

                        <input type="text" (input)="inputOtherContact($event)" [ngClass]="other_contact ? 'active-input' : ''" class="form-control defualt-font" [(ngModel)]="other_contact" placeholder="{{'RegiVenAdd.Holder.Please_Enter_Vendor_Other_Contact' | translate}}">

                        <div class="in_box">
                            <button (click)="btnX('other_contact')" [ngClass]="other_contact ? 'btn_del' : ''" type="button" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="defualt-font">{{'RegiVenAdd.Label.Email'| translate}} :</label>
                        <input type="text" [ngClass]="vendorModel.email ? 'active-input' : ''" class="form-control defualt-font" [(ngModel)]="vendorModel.email" placeholder="{{'RegiVenAdd.Holder.Please_Enter_Vendor_Email' | translate}}">

                        <div class="in_box">
                            <button (click)="btnX('address')" [ngClass]="vendorModel.email ? 'btn_del' : ''" type="button" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="defualt-font">{{'RegiVenAdd.Label.Address'| translate}} :</label>
                        <input type="text" #subCate [ngClass]="vendorModel.address ? 'active-input' : ''" class="form-control defualt-font" [(ngModel)]="vendorModel.address" placeholder="{{'RegiVenAdd.Holder.Pleas_Enter_vendor_Address' | translate}}">

                        <div class="in_box">
                            <button (click)="btnX('address')" [ngClass]="vendorModel.address ? 'btn_del' : ''" type="button" tabindex=-1 class="btn" tabindex=-1 tabindex=-1></button>
                        </div>
                    </div>
                </div>



                <div class="form-row">
                    <div class="form-group form-group-last">
                        <label class="defualt-font">{{'RegiCate.LABEL.Description' | translate}}</label>
                        <input type="text" [ngClass]="vendorModel.description? 'active-input' : ''" [(ngModel)]="vendorModel.description" placeholder="{{'RegiCateAdd.Holder.Enter_Description' | translate}}" class="form-control defualt-font">
                        <div class="in_box">
                            <button (click)="btnX('description')" type="button" [ngClass]="vendorModel.description? 'btn_del' : ''" tabindex=-1 class="btn" tabindex=-1 tabindex=-1><span>Delete text</span></button>
                        </div>

                    </div>
                </div>


            </div>

        </div>


        <div class="c_btn">
            <button (click)="close()" class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [icon]="'x'" [look]="'outline'">{{'COMMON.BUTTON.CLOSE' | translate}}</button>
            <button (click)="edit()" class="k-button btn-w100px-h35px font-khmer-cursive"  kendoButton [icon]="'download'" [look]="'outline'">{{'COMMON.BUTTON.UPDATE' | translate}}</button>
        </div>
    </div>
</div>