<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Admin</b>LTE</a>
    </div>

    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>


        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Email" [(ngModel)]="userName">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input class="form-control" placeholder="Password" type="password" [(ngModel)]="password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                         <input type="checkbox"> Remember Me
                    </label>
                </div>
            </div>

            <div class="col-xs-4">
                <button (click)="onClickLogin()" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>

        </div>

    </div>
</div>