.i {
    background: #cfd1d5b0;
    display: inline-block;
    margin-top: 4px;
    margin-left: 6px;
    width: 31px;
    height: 30px;
    padding: 5px 0px 0px 5px;
    border-radius: 31px;
}

.l {
    float: right;
    padding: 0px;
    margin-right: 15px;
    width: 128px;
    border-color: #008cff;
}

.ic {
    color: #0061ffed;
}

.red {
    color: red;
}

.f {
    font-size: 25px;
}

.cu:hover {
    cursor: pointer;
}