<div class="login-box">
    <div class="login-logo">
        <a href="#" class="font-khmer-cursive"><b>Admin</b>LTE</a>
    </div>

    <div class="login-box-body">
        <p class="login-box-msg font-khmer-cursive"><b>Sign in to start your session</b></p>


        <div class="form-group has-feedback">
            <input type="text" class="form-control font-khmer-cursive" placeholder="Email" [(ngModel)]="user_name" (keypress)="enterLoginHandler($event)" (keydown)="tapfocus($event)">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
            <input class="form-control" placeholder="Password" type="password" [(ngModel)]="password" (keypress)="enterLoginHandler($event)" #passwordElement>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="row">
            <div class="col-xs-6">

                <div class="checkbox icheck">
                    <label (click)="remember()">
                        <span [ngClass]="{'k-i-close-circle red': !remember_me, 'k-i-check-circle ic': remember_me}" class="k-icon" style="margin: -3px 0px 0px 0px;"></span>
                         <span style="margin: 0px 1px 0px 5px;" class="font-khmer-cursive">Remember Me</span> 
                    </label>
                </div>
            </div>

            <div class="col-xs-4 l cu" style="margin-right: -12px;" (click) ="Login()">
                <button class="k-button btn-w100px-h35px font-khmer-cursive btn-add-00">
                    <span class="k-icon k-i-login"></span>
                    <span style="margin-left: 5px;">{{'COMMON.BUTTON.Login' | translate}}</span>
                </button>
            </div>
            <!-- <div class="btn-css col-xs-4 l cu" (click)="onClickLogin()">
                <span class="i">
                    <i class="fas fa-download" style="font-size: 21px;color: #0055ff;"></i>
                </span>
                <span class="font-khmer-cursive" style="float: right; margin-top: 10px;margin-right: 20px;">Log In</span>
            </div> -->


            <!-- <div class="col-xs-4">
                <button (click)="onClickLogin()" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div> -->



        </div>

        <span class="fi-expand-down"></span>
    </div>
</div>