.checkbox {
    width: 45px !important;
    height: 20px !important;
    -webkit-appearance: auto !important;
}
.padding-left-00{
    padding-left: 0px;
    padding-right: 0px;
}
.day{
    width: 165px;
    padding-left: 0px;
    float: left;
}
.month{
    width: 200px;
}

.year{
    width: 210px;
    padding-right: 0px;
}